ICECAST_URL=http://icecast:8000
ICECAST_SOURCE_USER=source
ICECAST_SOURCE_PASSWORD=hackme
ICECAST_MOUNT=/radio.mp3
ICECAST_NAME=

HTTP_ADDR=:8080

STATION_ID=default
STATION_NAME=
STATIONS=
STATION_COUNT=
STATION_DESCRIPTION=Go MP3 radio stream

PLAYLIST_DIR=tracklist
TRACK_PATH=
ANNOUNCEMENTS_DIR=
RECONNECT_DELAY_SECONDS=3